<!DOCTYPE html>
<html lang="en">
  <%- include ('head_scripts/head.ejs') %>
  <body>
      <header>
        <%- include('header_footer/header')%>
      </header>
      <%-include('Bloques/bloque1')%>
      <%-include('Bloques/bloque2')%>
      <%-include('Bloques/bloque3')%>
      <%-include('Bloques/bloque4_2')%>
      <%- include('Bloques/bloque5')%>
      <%- include('Bloques/bloque6')%>
      <%- include('Bloques/bloque7')%>
      <%- include('header_footer/footer')%>
    <%- include('head_scripts/scripts')%>
  </body>
</html>
